<p id="notice"><%= notice %></p>

<h1>Pizas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Crust</th>
      <th>Sauce</th>
      <th>Toppings</th>
      <th>Cost</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pizas.each do |piza| %>
      <tr>
        <td><%= piza.name %></td>
        <td><%= piza.crust %></td>
        <td><%= piza.sauce %></td>
        <td><%= piza.toppings %></td>
        <td><%= piza.cost %></td>
        <td><%= piza.image %></td>
        <td><%= link_to 'Show', piza %></td>
        <td><%= link_to 'Edit', edit_piza_path(piza) %></td>
        <td><%= link_to 'Destroy', piza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Piza', new_piza_path %>
